.popup-trigger {
    background: none;
    border: none;
    cursor: pointer;
  }
  .definition-container, .definition-container2{
    position: absolute;
    bottom: 100px; /* Places the definition near the bottom of the popup */
    left: 0;
    right: 0;
    text-align: center;

    height: 80px; /* Set a fixed height for the definition container */

    max-width: 90%; /* Limit the width to 90% of the popup width */
    margin: 0 auto; /* Center the container horizontally */
    
  }
  .popup {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

  }

  
  
  .popup-inner {
    background-image: url('../../assets/dictionary-assets/DictionaryBaseFull.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 880px;
    height: 630px;
    display: flex;
    margin:0;
   
    align-items: center;
    justify-content: center;
    
    
  }

  .popup-page-left {
    
    position:relative;
    background-image: url('../../assets/dictionary-assets/DictPageLeft.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
   
    width: 48%;
    height: 86%;
    display: flex;
    justify-self: center;
    align-self: center;
    margin-left: 3%;   
    margin-top: 5%;
    margin-bottom: 5%;
    

    padding-left: 2.3%;

    
  }
  .popup-page-right {
    position:relative;
    background-image: url('../../assets/dictionary-assets/DictPageRight.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;

    width: 48%;
    height: 86%;
    display: flex;
    justify-self: center;
    align-self: center;

    margin-right: 3%;
    margin-top: 5%;
    margin-bottom: 5%;

    padding-right: 2.3%;

  }

       

  #dictionary-menu-btn{
    width:15%;
    height:10px;
    transform: scale(0.15); 
    border: none;  
    background-color: transparent; 
    padding: 0; 
  }

#dictionary-menu-btn img:hover {
  transform: scale(1.1); 
}

  #dictionary-close-btn{
    width:15%;
    height:10px;
    transform: scale(0.115); 
    border: none;  
    background-color: transparent; 
    padding: 0; 
} 


#dictionary-close-btn img:hover {
  transform: scale(1.1); 
}


#next-page-btn{
  position: relative;
  width: 189.5%;
  height: 980px;
  transform: scale(0.05); 
  border: none;  
  background-color: transparent; 
  padding: 0; 

} 

#prvs-page-btn{
  position: relative;
  width: 10%;
  height: 980px;
  transform: scale(0.05); 
  border: none;  
  background-color: transparent; 
  padding: 0; 

} 





 
.button-row{
    position:absolute;
    
    width: 90%;
    height: 5%;
    display:flex;
    align-self:flex-start;
    justify-self: flex-start;
    justify-content: flex-start;
    align-items: start;
}
 

 

.welcome-user {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  left: 25px;
  color:rgb(71, 51, 60);

}


.learned-words1 {
  position: absolute;
  height:80%;
  width: 90%;
  top: -10px; /* Adjust the top position as needed */
  left: 20px; /* Adjust the left position as needed */
  transform: scale(1);
  display:flex;
  justify-content: center;
  text-align: center;
  padding-top: 10%;
  color:rgb(71, 51, 60);
}

.learned-words2 {
  position: absolute;
  height:80%;
  width: 90%;
  top: -10px; /* Adjust the top position as needed */
  left: 20px; /* Adjust the left position as needed */
  transform: scale(1);
  display:flex;
  justify-content: center;
  text-align: center;
  padding-top: 10%;
  color:rgb(71, 51, 60);
}

.word-info{
  padding-top: 3%;
}
.word-info2{
  padding-top: 3%;
}

#wordImage1 {
  position: relative;
  width:70%;
  margin-top: 8px;
}

.definition-container{
  bottom: 15%;
  padding:none;
  height:10%;
  color:rgb(71, 51, 60);
}

.definition-container2{
  bottom: 15%;
  padding:none;
  height:10%;
  color:rgb(71, 51, 60);
}

#wordImage2 {
  position: relative;
  width:70%;
  margin-top: 8px;
  
}

