
.mapbackground {
  font-family: 'Popins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-fond-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../../assets/MenuBG.png'); 
  background-position: center; 
  background-repeat: no-repeat; 

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  
  width: 100%;
  min-height: 100vh;
  height: auto;
  
  background-size: cover;
  font-family: 'roboto', sans-serif;
} 


button[type="button"] img {
  width: 20vw;
  height: auto; 
}

button[type="button"]:hover img {
  transform: scale(1.1);
}

#schoolimg {
  border: none;  
  background-color: transparent; 
  padding: 0; 
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  

}

#school{
  position:absolute;
  left:4%;
  bottom: 10%;
}

#schoolimg img:hover {
  transform: scale(1.1); 
}

#artistimg {
  border: none;  
  background-color: transparent; 
  padding: 0; 
  max-width: 300px;
  max-height: 300px;
  width: 100%;

}

#artist{
  position:absolute;
  left:10%;
  top: 10%;
}

#artistimg img:hover {
  transform: scale(1.1); 
}


#marketimg {
  border: none;  
  background-color: transparent; 
  padding: 0; 
  max-width: 300px;
  max-height: 300px;
  width: 100%;


}

#market{
  position:absolute;
  right:9%;
  top: 7%;
}
#marketimg img:hover {
  transform: scale(1.1); 
}


#outskirtsimg {
  border: none;  
  background-color: transparent; 
  padding: 0; 
  max-width: 300px;
  max-height: 300px;
  width: 100%;
}

#outskirts{
  position:absolute;
  left:40%;
  top: 5%;
}


#outskirtsimg img:hover {
  transform: scale(1.1); 
}

#tailorimg {
  border: none;  
  background-color: transparent; 
  padding: 0; 
  max-width: 100%;


}

.descTxt{
  font-weight: bold;
  background-color: rgba(230, 233, 206, 0.5);
  border-radius: 5px;
 
  color:#274153;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

#tailor{
  position:absolute;
  right:6%;
  bottom: 11%;
}

#tailorimg img:hover {
  transform: scale(1.1); 
}

.mapbtndiv{
  position: absolute;
  display:flex;
  flex-direction: column;
  width: 20%;
  align-items: center;;
}



#menubarimg {
  position: absolute;
  top: 0px; 
  left: -50px; 
  width: 100%;
  height: 100%;
  /* transform: scale(1.1);  */
  pointer-events: none; 
} 


#menubarimg img {
  width: 100%;
  max-height: 1000px; /* Set your desired max-height */
}


#dictionaryimg {
  position: absolute;
  bottom:1.8vw;
  left: 27%; 
  transform-origin: bottom;
  transform: scale(0.5); 
  background-color: transparent; 
  padding: 0; 
  width: 20%;
  height: 20%;
}

#dictionaryimg img {
  max-width: 300px;
  max-height: 300px;
}

#dictionaryimg img:hover {
  transform: scale(1.1); 
}

#menuimg {
  position: absolute;
  bottom:1vw;
  left:38%;
  padding: 0; 
  background:transparent;
  width: 20%;
  height: 30%;
  transform-origin: bottom;
  transform: scale(0.37); 
}

#menuimg img {
  max-width: 300px;
  max-height: 300px;
} 

#menuimg img:hover {
  transform: scale(1.1); 
}