#marketnpcimg{ 
    
    position:absolute;
    
    width:38vw;
    display:flex;
    left: 20%;
    align-self: flex-end;
    justify-self: flex-end;
}




#foodImage{
    position:absolute;
    height: 40%;
    /* height:30vh; */
    top: 10%;
    left: 12%;

    display:flex;
    justify-content: center;
    z-index: 999; /* Ensure this value is higher than other elements */

}
